<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cityguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.vision"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/YOUR_API_KEY" />

        <activity android:name=".login" />
        <activity android:name=".RELIGIOUS_PLACES"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ATTRACTIONS"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BASIC_AMENITIES"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".EMERGENCY"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ENTERTAINMENT"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".TRANSPORT"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".home_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>